@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Desativa seleção de texto na interface */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


:root {
    --primary: #030213;
    --accent: #14b8a6;
    --light-teal: #ccfbf1;
    --accent-light: rgba(20, 184, 166, 0.1);
    --background: #ffffff;
    --muted: #f1f5f9;
    --alert: #ef4444;
    --orange: #f97316;
}

body {
    background-color: #f8fafc;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    body {
        -webkit-user-select: none;
        /* Chrome, Safari */
        -ms-user-select: none;
        /* Edge antigo */
        user-select: none;
        /* padrão */
    }
}

/* O formato do aplicativo mobile no PC */
.mobile-shell {
    width: 375px;
    height: 740px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border: 8px solid #1e293b;
    display: flex;
    flex-direction: column;
}

/* Telas para navegação */
.screen {
    display: none;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

.screen.active {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
}

/* Classes Utilitárias Compartilhadas */
.btn-main {
    background-color: var(--primary);
    color: white;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-main:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.input-field {
    width: 100%;
    padding: 16px;
    background-color: #f9fafb;
    border: 1px solid #f3f4f6;
    border-radius: 16px;
    outline: none;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: var(--accent);
}

/* =========================================
   RESPONSIVIDADE (MOBILE FULLSCREEN)
========================================= */
@media (max-width: 768px) {
    body {
        align-items: flex-start;
        background-color: var(--background);
    }

    .mobile-shell {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
}